{% extends 'base.html' %}
{% block contents %}
<!DOCTYPE html>
<body>
<br>
<div class="container-fluid">
{% for obj in all_article %}

    <!-- <div class="card" style="width: 25rem;">
        <img src="{{obj.img_path_1}}" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">{{obj.title}}</h5>
        <p class="card-text">{{ obj.article }}</p>
        <a href="#" class="btn btn-primary">Read more</a>
        </div>
    </div> -->

    <div class="card text-bg-light mb-3" style="max-width: 100%;">
        
        <div class="row g-0">
          <div class="col-md-4">
            <a href="/proj_overview/{{obj.id}}"><img src="{{obj.img_path_1}}" class="img-fluid rounded-start" alt="..."></a>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{obj.title}}</h5>
              <p class="card-text"><small class="text-body-secondary">Status:{{obj.status}}</small></p>
              <p class="card-text"><small class="text-body-secondary">{{obj.project_start_date|date:"Y/m"}} ~ {{obj.project_finish_date|date:"Y/m"}}</small></p>
              <a href="/proj_overview/{{obj.id}}" class="btn btn-primary">View All</a>
            </div>
          </div>
        </div>
      </div>


{% endfor %}
</div>

</body>
</html>
{% endblock %}