{% extends 'base.html' %}
{% block contents %}

<div class="d-flex justify-contact-between flex-wrap flex-md-nowrap align-items-center mt-5 border-bottom">
    <h1 class="h2">Top page</h1>
</div>

<div>
    <h4>Welcome and thank you for visiting my website! </h4>
</div>
<p>
Hello! My name is Tomoki Ikegami. <br>
I like making things like machine and application.<br>
I'm a university student in Japan .The major is engineering (especially robotics).<br>
I want to be a great engineer to create safety, useful, and exciting things that bring happiness to someone!<br><br>
</p>

<a class="nav-link" aria-current="page"  style="color:whitesmoke" href="/proj_overview/all_projects"><img src="/static/images/top_page.jpg" width="100%"></a>

{% endblock %}