{% extends 'base.html' %}
{% block contents %}


<div class="d-flex justify-contact-between flex-wrap flex-md-nowrap align-items-center mt-5 border-bottom">
    <h1 class="h2">DIY RC controller - Happy RC Driver</h1>
</div>


<div>

This is a smartphone application to control a RC car. Create your own app and enjoy RC car!!

    <br><br><br>

    <img src="https://user-images.githubusercontent.com/59131761/226077406-79dd446e-6262-4b62-94cf-95fa19de91f1.jpg" alt="Happy RC Driver overview" width="100%">
</div>

<div class="d-flex justify-contact-between flex-wrap flex-md-nowrap align-items-center mt-5 border-bottom">
    <h4 class="h2">Read More</h4>
</div>

If you want to know this project more. Please read <a href="https://github.com/TomokiIkegami/Happy_RC_Driver">this Github</a> page.
<ul class="navbar-nav">
    <li class="nav-item"><a class="nav-link" href="/#"></a></li>
    <li class="nav-item"><a class="nav-link" href="/#"></a></li>
    <li class="nav-item"><a class="nav-link" href="/#"></a></li>
</ul>

{% endblock %}